
<ul class="navbar">
    <img src="\img\headerlogo1.jpeg" width=100% height=100% />
    <li>@Html.ActionLink("Home", "index", "home")</li>
    <li>@Html.ActionLink("News", "news", "home")</li>
    <li>@Html.ActionLink("Earrings", "earrings", "shop")</li>
    <li>@Html.ActionLink("Necklaces", "necklaces", "shop")</li>
    <li>@Html.ActionLink("Rings", "rings", "shop")</li>
    <li>@Html.ActionLink("Bracelets", "bracelets", "shop")</li>
    <li>@Html.ActionLink("About", "about", "home")</li>
    <li>@Html.ActionLink("Contact", "contact", "home")</li>
    <li>@Html.ActionLink("Storefinder", "storefinder", "home")</li>
    <li>@Html.ActionLink("AddArticle", "AddArticle", "shop")</li>
    <li>@Html.ActionLink("Cart", "Cart", "shop")</li>
</ul>
